<label for="inputPassword" class="col-lg-2 control-label">Cuenta</label>
<div class="col-lg-10"><input class="form-control" id="inputPassword" placeholder="Password" type="password"></div>
monto
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
fecha
<label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
</div>
