<% if session['error'] != nil %>
 <div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Advertencia!</strong> <%= session['error'] %>
 </div>
 <% session['error'] = nil %>
<% end %>
<div class="col-lg-8">
 <%= render partial: "form" %>
</div>
<div class="col-lg-4">
 <%= render partial: "temp" %>
</div>
<div class="col-lg-12">
 <%= render partial: "show" %>
</div>
