<div class="module">
 <div class="module-head">
  <h3>Editar Bombeo</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Show', @scr_bombeo %> |
<%= link_to 'Back', scr_bombeos_path %>
