<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_estado.nombreEstado %>
</p>

<%= link_to ' Editar ', edit_scr_estado_path(@scr_estado) %> |
<%= link_to ' Regresar ', scr_estados_path %>
