                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active"><%= link_to '<i class="menu-icon icon-dashboard"></i>Autenticarse'.html_safe, core_login_url %></li>
                            </ul>
                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
