                    <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                             <li><%= link_to '<i class="menu-icon icon-book"></i>Registrar Lectura de consumo '.html_safe, new_scr_lectura_url %></li>
                             <li><%= link_to '<i class="icon-inbox"></i>Listado de lecturas '.html_safe, scr_lecturas_url %></li>
                             <li><%= link_to '<i class="menu-icon icon-signout"></i>Salir '.html_safe, home_logout_path %></li>
                            </ul>
                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
