                            <!--/.widget-nav-->
                            <ul class="widget widget-menu unstyled">
                                <li><li><a class="collapsed" data-toggle="collapse" href="#staff"><i class="menu-icon icon-cog">
                                </i><i class="icon-chevron-down pull-right"></i><i class="icon-chevron-up pull-right">
                                </i>Staff :: </a>
                                    <ul id="staff" class="collapse unstyled">
                                     <li><%= link_to '<i class="icon-inbox"></i>Cargos'.html_safe, scr_cargos_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Empleados'.html_safe, scr_empleados_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Estados'.html_safe, scr_estados_url %></li>
                                     <li><%= link_to '<i class="icon-inbox"></i>Localidades'.html_safe, scr_localidads_url %></li>
                                    </ul>
                                </li>
                            </ul>
