<h1>Editar<div class="module">
 <div class="module-head"><h3>Editar</h3></div>
 <div class="module-body table">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Ver', @scr_cobro %> |
<%= link_to 'Regresar', scr_cobros_path %>
