<div class="module">
 <div class="module-head">
  <h3>Agregar lectura de consumo</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar',  scr_lecturas_path, class:"btn btn-inverse" %>
