<div class="module">
 <div class="module-head">
  <h3>Nueva Categoria de Rep. Legal</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar', scr_cat_rep_legals_path, class:"btn btn-inverse" %>
