<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @scr_banco.banco_nombre %>
</p>

<%= link_to ' Editar ', edit_scr_banco_path(@scr_banco) %> |
<%= link_to ' Regresar ', scr_bancos_path %>
