<div class="module module-login span4 offset4">
 <%= form_for :transacx, class:"form-vertical", :url => { :action => :login } do |f| %>
  <div class="module-head"><h3>Autenticación :</h3></div>
  <div class="module-body">
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.text_field :user, class:"span12", id:"inputEmail", placeholder:"Nombre de usuaria" %>
    </div>
   </div>
   <div class="control-group">
    <div class="controls row-fluid">
     <%= f.password_field :clave, class:"span12", id:"inputPassword", placeholder:"Password" %>
    </div>
   </div>
  </div>
  <div class="module-foot">
   <div class="control-group">
    <div class="controls clearfix">
     <button type="submit" class="btn btn-primary pull-right">Iniciar sesion</button>
      <label class="checkbox">
       <input type="checkbox"> Recuerdame
      </label>
     </div>
    </div>
   </div>
 <% end %>
</div>
