<div class="module">
 <div class="module-head">
  <h3>Nuevo Periodo Contable</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar', scr_det_contables_path, class:"btn btn-inverse" %>
