<h1>Editar</h1>

<%= render 'form' %>

<%= link_to ' Ver ', @scr_organizacion, class:"btn btn-mini btn-info" %> |
<%= link_to ' Regresar ', scr_organizacions_path, class:"btn btn-mini btn-inverse" %>
