<div class="module">
 <div class="module-head">
  <h3>Categoria de cobro</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar', scr_cat_cobros_path, class:"btn btn-inverse" %>
