<div class="module">
 <div class="module-head">
  <h3>Nuevo Periodo a representante Legal</h3>
 </div>
 <div class="module-body">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar', scr_periodo_representantes_path, class:"btn btn-inverse" %>
