<div class="module">
 <div class="module-head">
  <h3>Secuencia de recibos para impresión</h3>
 </div>
 <div class="module-body">
  <%= form_for :transacx, class:"form-horizontal row-fluid", :url => { :action => :correlativo } do |f| %>
   <div class="control-group">
    <div class="controls">
     <div class="input-append"><span class="add-on">#</span><%= f.number_field :secuencia, placeholder:"Correlativo de recibos" %></div>
    </div>
   </div>
   <%= f.submit "Agignar secuencia", class:"btn btn-mini btn-primary", data: { confirm: 'Confirma la operación ?' } %>
  <% end %>
 </div>
</div>
<br />
