<h1>Editar categoria de actividad</h1>

<%= render 'form' %>

<%= link_to ' Ver ', @scr_cat_actividad, class:"btn btn-mini btn-info" %> |
<%= link_to ' Regresar ', scr_cat_actividads_path, class:"btn btn-mini btn-inverse" %>
