<div class="module">
 <div class="module-head"><h3>Crear area de trabajo</h3></div>
 <div class="module-body table">
  <%= render 'form' %>
 </div>
</div>
<%= link_to 'Regresar', scr_area_trabajos_path %>
